<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">

</head>

<body>
<div th:replace="fragments/navbar :: navbar" />
<div class="flex-content">
    <div class="text-center">
        <h3>현재 공개된 아카이브</h3>
    </div>

    <div class="text-center">
        <h5>인터넷 프로그래밍 과제</h5>
        <ul class="text-center">
            <li><a href="/survey">설문조사</a></li>
            <li><a href="/introduction">자기소개</a></li>
        </ul>
    </div>
</div>

</body>
</html>