<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <title>Tagging | 로그인</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar" />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center"><span class="login-text">LOGIN</span></h2>

            <div th:if="${param.error}" class="alert alert-danger">
                이메일 혹은 비밀번호가 잘못되었습니다.
            </div>

            <form th:action="@{/member/login}" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요"
                           required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="비밀번호를 입력하세요" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">로그인</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>