/* Icon */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* 내비게이션 */
.navbar {
    padding: 20px;
}

/* 메인페이지 */
.text-center {
    padding: 20px;
}

ul {
    list-style-type: none;
}