<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">

</head>

<body>
<div th:replace="fragments/navbar :: navbar" />
<div class="container">
    <h2>회원가입</h2>
    <form th:action="@{/user/signup}" th:object="${signUpForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">닉네임</label>
            <input type="text" class="form-control" id="username" th:field="*{username}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>
        <div class="mb-3">
            <label for="passwordConfirm">비밀번호 확인</label>
            <input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}">
        </div>
        <button type="submit" class="btn btn-primary w-100">회원가입</button>
    </form>
</div>
</body>
</html>