<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kakao 지도 시작하기</title>
</head>
<body>
<div id="map" style="width: 500px; height: 400px;"></div>
<script>
const script = document.createElement("script");
script.src = "http://dapi.kakao.com/v2/maps/sdk.js?appkey=${custom.kakaoMap.apiKey}&autoload=false&libraries=clusterer,services&";
document.head.appendChild(script);
script.onload = () => {
    kakao.maps.load(() => {
        const node = document.getElementById('map'); // 지도를 표시할 div
        const center = new kakao.maps.LatLng(37.50802, 127.062835);
        const options = {
            center,
            level: 3
        };
        const map = new kakao.maps.Map(node, options);
    });
};
</script>
</body>
</html>