<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kakao 지도</title>
</head>
<body>
<div id="map" style="width:1000px; height:1000px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=818338a19ded835f4d71b708d3b114e4"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.5759, 126.9768),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>
</body>
</html>